p {
	font-size: 18px;
	/*text-transform: capitalize;*/
	text-indent: 20px;
	/*letter-spacing: 5px;*/
	word-spacing: 5px;
	line-height: 1.5;
}

#intro {
	font-weight: bold;
	text-align: left;
}

.center {
	text-align: center;
}

h1 {
	color: rgba(100, 150, 70, 0.5);
	font-family: sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

a {
	text-decoration: none;
}